@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

/*
  Global CSS file
*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow:  0 0 0 1000px white inset !important;
}

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 100%;
	margin: 0;
	padding: 0;
}

