.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 484px;
    background: url('../../assets/writer.jpg') center center no-repeat;
    background-size: cover;
    background-position-y: -300px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.header-copy {
    color: #fff;
    justify-content: center;
    margin: 0 auto;
}

.header-copy h1 {
    text-align: center;
}

.header-copy h2 {
    text-align: center;
}


