.comment {
    border-radius: 2px;
    width: 100%;
}

.author-name {
    margin-bottom: 16px;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
}

.comment-desc {
    font-size: 13px;
    color: #888;
    flex-direction: column;
}


.comment-date {
    display: flex;
    color: #888;
    margin: 0;
    text-decoration: none;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    justify-content: flex-end;
}

.comment-action a {
    margin: 0 15.5px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    line-height: 0.5;
    font-style: italic;
    text-align: center;
}

.comment-action a:hover {
    color: #EF5350;
}

.comment-detail .comment-title {
    font-size: 42px;
    color: #454545;
}

.comment-detail .comment-desc {
    font-size: 16px;
    color: #555;
}