.no-comment-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #FAFAFA;
    padding: 32px 0;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 50px;
}

.no-auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #FAFAF0;
    padding: 32px 0;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 50px;
    width: 167px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    
}

.comment-list-container {
    border: 1px solid #eee;
    border-radius: 4px;
}

.comment-list {
    padding: 32px 0;
    overflow-wrap: break-word;
    height: 200px;
    overflow-y: scroll;
    resize: vertical;
}

.list-view h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 50px;
}

.form {
    background: #FAFAFA;
    border: 1px solid #eee;
    border-radius: 4px;
}

.form-content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    font-size: 14px;
    padding-bottom: 25px;
}

.form-content textarea {
    min-height: 50px;
}
.form-content h2 {
    font-weight: 200;
}

.form-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #757575;
}

.form-field {
    width: 100%;
    margin-bottom: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: normal;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    color: #212121;
}

.post-submit-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 18px;
    color: #FFF;
    background: #03A9F4;
    text-decoration: none;
    border-radius: 4px;
}

.appear {
    display: block;
}